.page__aboutProject {
  padding: 110px 70px;
}

.aboutProject__title {
  margin: 0 auto;
  margin-bottom: 70px;
  padding-bottom: 24px;
  border-bottom: 1px solid #000;;
  max-width: 100%;
  font-size: 22px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.88px;
}

.aboutProject__container {
  max-width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, auto));
  column-gap: 40px;
  row-gap: 26px;
  margin-bottom: 110px;
}

.aboutProject__subtitle {
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.8px;
}

.aboutProject__description {
  margin: 0;
  max-width: 550px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.aboutProject__time-learn {
  max-width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: calc(228/1140*100%) 1fr;
  row-gap: 14px;
}

.aboutProject__progress {
  margin: 0;
  padding-top: 9px;
  padding-bottom: 10px;
  text-align: center;
  background-color: #F2F2F2;
  color: #000;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}

.aboutProject__progress_type_backend {
  background-color: #000;
  color: #FFF;
}

.aboutProject__text {
  margin: 0;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  color: #A0A0A0;
}
