.page__portfolio {
  padding: 100px 70px 125px;
  font-family: Inter;
}

@media screen and (max-width: 768px) {
  .page__portfolio {
    padding: 0 50px 90px;
  }
}

.portfolio__title {
  margin: 0 0 50px 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  color: #a0a0a0;
}

.portfolio__nav {
  width: 100%;
}

.portfolio__lists {
  list-style: none;
  margin: 0;
  padding: 0;
}

.portfolio__link {
  text-decoration: none;
  color: #000;
  padding-bottom: 9px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e8e8e8;
  display: flex;
  justify-content: space-between;
}
.portfolio__link_type_last {
  margin-bottom: 0;
}

.portfolio__subtitle {
  margin: 0;
  font-style: normal;
  font-size: 30px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: -1.2px;
  transition: opacity 0.3s linear;
}

@media screen and (max-width: 768px) {
  .portfolio__subtitle {
    font-size: 28px;
    letter-spacing: -1.12px;
  }
}

.portfolio__button {
  width: 29px;
  height: 60px;
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
  background-image: url(../../../images/pointer.svg);
  background-repeat: no-repeat;
  background-position: 4px 18px;
  background-size: 20px 18px;
  transition: opacity 0.3s linear;
}

.portfolio__subtitle:hover {
  opacity: 0.7;
  cursor: pointer;
}

.portfolio__button:hover {
  opacity: 0.7;
  cursor: pointer;
}
