.checkbox {
  display: flex;
  align-items: center;
  font-family: Inter;
}

.checkbox__click {
  padding: 0;
  width: 36px;
  height: 20px;
  border: none;
  background-color: transparent;
  background-image: url(../../../images/tumb-off.svg);
  background-repeat: no-repeat;
  cursor: pointer;
  transition: opacity 0.3s linear;
}

.checkbox__subtitle {
  margin: 0;
  padding: 0 29px 0 15px;
  font-size: 13px;
  line-height: 18px;
  font-style: normal;
  font-weight: 400;
}

.checkbox__click_active {
  background-image: url(../../../images/tumb-on.svg);
}

/* .checkbox__tumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #919191;
  border: 1px solid #fff;
  transition: margin-left 0.3s, background-color 0.3s;
} */

/* .checkbox__click_active .checkbox__circle {
  margin-left: 18px;
  background-color: #3ddc84;
} */

@media screen and (max-width: 770px) {
  .checkbox__subtitle {
    padding: 0 20px 0 15px;
  }
}
@media screen and (max-width: 500px) {
  .checkbox {
    padding-top: 54px;
    padding-left: 38px;
  }

  .checkbox__subtitle {
    font-size: 11px;
    padding: 0 0 0 15px;
  }
}
