.page__aboutMe {
  padding: 110px 70px 0;
  font-family: Inter;
}

.aboutMe__title {
  margin: 0 auto;
  margin-bottom: 65px;
  padding-bottom: 24px;
  border-bottom: 1px solid #000;;
  max-width: 100%;
  font-size: 22px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.88px;
}

.aboutMe__container {
  width: 100%;
  display: grid;
  justify-content: space-between;
  grid-template-columns: minmax(0, 600px) 270px;
}

.aboutMe__name {
  margin: 0 0 18px 0;
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -2px;
}

.aboutMe__job {
  margin: 0 0 26px 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
}

.aboutMe__description {
  margin: 0 0 99px 0;
  max-width: 600px;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.aboutMe__link {
  text-decoration: none;
  color: #000;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  transition: opacity .3s linear;
}

.aboutMe__photo {
  display: block;
  width: 270px;
  height: 327px;
  border-radius: 10px;
  object-fit: cover;
}
